<!DOCTYPE html>
<html ng-app="mentions">
  <head>
    <meta charset="utf-8">
    <title>Mentions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body ng-controller="MainCtrl as main">
    <input type="text" mh-mentions ng-model="main.body" users="main.users" mentions="main.mentions">

    <pre ng-repeat="mention in main.mentions">
      {{ mention }}
    </pre>
  </body>
</html>